# Created by .ignore support plugin (hsz.mobi)

### OS-specific
*.DS_Store

### Output
*.class
core/build/
desktop/build/

### Intellij (uncomment section after cloning)
# *.iml
# *.ipr
# *.iws
# .idea/

### Eclipse (uncomment section after cloning)
# desktop/.classpath
# desktop/.settings
# desktop/.project
# core/.classpath
# core/.settings
# core/.project